@use "fonts";

// Colors
$primary-color: #17b045;
$text-color: #fff;
$scrollbar: #0ad647;
$h5-text: #919191;
$body-color: linear-gradient(#18181d, #3d0118);
$bg-color: #18181d;
$bg-color-body: #32323d;
$bg-color-bottom: #25252d;

// Typography
$main-font: "Roboto", sans-serif;
$cyberpunk: "Cyberpunk", sans-serif;
