@use "../abstracts/variables" as a;

.bigtext {
  color: a.$primary-color;
}
.container main {
  padding: 20px 36px;
}
.container main header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container main header .nav-links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.container main header .nav-links a {
  text-transform: uppercase;
  color: a.$h5-text;
  transition: all 0.3s ease;
}
.container main header .nav-links a.active {
  color: a.$primary-color;
}

.container main header .search {
  display: flex;
  align-items: center;
  gap: 6px;
  width: 70%;
  background-color: #1d1d1d;
  border: 1px solid #464748;
  padding: 10px;
  border-radius: 8px;
}

.container main header .search input {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  color: a.$text-color;
}
