@use "../abstracts/variables" as a;

.container .right-section .music-player {
  color: #fff;
  background-color: #202026;
  border-radius: 6px;
  height: 88%;
  display: flex;
  flex-direction: column;
}

.container .right-section .music-player .top-section {
  padding: 20px;
  height: 86%;
}

.container .right-section .music-player .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.container .right-section .music-player .song-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  text-align: center;
}

.container .right-section .music-player .song-info img {
  width: 280px;
  height: 220px;
}

.container .right-section .music-player .description h3 {
  font-size: 26px;
  font-weight: 500;
  margin-bottom: 8px;
}

.container .right-section .music-player .description h5 {
  font-size: 16px;
  margin-bottom: 4px;
}

.container .right-section .music-player .description p {
  color: #919191;
  font-size: 12px;
  font-weight: bold;
}

.container .right-section .music-player .song-info .progress {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.container .right-section .music-player .song-info .progress p {
  font-size: 11px;
}

.container .right-section .music-player .song-info .progress .active-line {
  position: relative;
  width: 120px;
  height: 2px;
  background-color: #fff;
  margin-left: 30px;
}

.container .right-section .music-player .song-info .progress .deactive-line {
  width: 80px;
  height: 2px;
  background-color: #919191;
  margin-right: 30px;
}

.container .right-section .music-player .player-actions {
  background-color: a.$primary-color;
  height: 26%;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.container .right-section .music-player .player-actions .buttons {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-top: 24px;
}

.container .right-section .music-player .player-actions .buttons i {
  font-size: 20px;
}

.container .right-section .music-player .player-actions .buttons .play-button {
  padding: 16px;
  background-color: #fff;
  color: a.$primary-color;
  border-radius: 18px;
}

.container .right-section .music-player .player-actions .lyrics {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 8px;
}

.container main header .nav-links button,
.container .sidebar .logo button {
  display: none;
  align-items: center;
  justify-content: center;
  background-color: #1d1d1d;
  border: 1px solid #464748;
  font-size: 20px;
  padding: 4px;
  border-radius: 8px;
  cursor: pointer;
}
